.IndexBookTop{
	background-color:#FFFAFA;
	padding:5px;
	padding-left:20px;
}
.IndexBookCate{
	margin-top:10px;
	margin-bottom:10px;
	padding-left:80px;
}

.IndexBookCate a{
	line-height: 20px;
    text-decoration: none;
    display: block;
    padding: 4px;
    color: #000;
}

.IndexBookName{
	width:350px;
	line-height:25px;
}
.IndexBookAttr{
	width:150px;
	line-height:22px;
}