@CHARSET "UTF-8";

.IntroContent p{
	text-indent:2em;
}

.otherUrl{
	padding-top:8px;
	padding-bottom:3px;
}
.otherUrl a:hover{
	text-decoration:none;
	color:#FF7F00;
}

.nbaRow{
	margin-bottom:5px;
}

.nbaEntity{
	border:1px solid #F00;
	width:170px;
}

.nbaAuthor{
	color:#CD3333
}